@charset "utf-8";

@import url("font.css");
@import url("reset.css");

/* 
SUMMARY :

01 LAYOUT
02 HEADER
03 FOOTER
04 SCROLL TOP 
*/

/* layout */

#wrap {width:100%;height:100%}
#container {width:100%}
*html #container {height:100%}
.content {min-height:calc(100vh - 173px);padding:0}

/* skip */

#skip_navi {height:0}
#skip_navi a {position:absolute;top:-9999px;z-index:10000;width:100%;height:30px;background-color:#000;font-weight:600;color:#fff;text-align:center;line-height:30px;opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60)}        
#skip_navi a:hover, 
#skip_navi a:focus, 
#skip_navi a:active {top:0;color:#fff}

/* blind */

.blind {overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;clip:rect(0 0 0 0)}

/* ico */

.ico {display:inline-block;background-image:url(../img/common/sp_common.png);background-repeat:no-repeat;vertical-align:middle}

/* width */

.wf3 {width:3px}
.wf6 {width:6px}

.wf10 {width:10px}
.wf16 {width:16px}
.wf20 {width:20px}
.wf25 {width:25px}
.wf30 {width:30px}
.wf35 {width:35px}
.wf40 {width:40px}
.wf50 {width:50px}
.wf55 {width:55px}
.wf60 {width:60px}
.wf75 {width:75px}
.wf80 {width:80px}
.wf90 {width:90px}

.wf100 {width:100px}
.wf110 {width:110px}
.wf120 {width:120px}
.wf130 {width:130px}
.wf150 {width:150px}
.wf160 {width:160px}
.wf170 {width:170px}
.wf190 {width:190px}
.wf200 {width:200px}
.wf210 {width:210px}
.wf250 {width:250px}
.wf270 {width:270px}
.wf300 {width:300px}
.wf305 {width:305px}
.wf400 {width:400px}
.wf500 {width:500px}

.w3 {width:3%}
.w5 {width:5%}
.w10 {width:10%}
.w12 {width:12%}
.w15 {width:15%}
.w16 {width:16.66%}
.w20 {width:20%}
.w21 {width:20.1%}
.w23 {width:23.5%}
.w24 {width:24.1%}
.w25 {width:25%}
.w30 {width:30%}
.w31 {width:30.7%}
.w35 {width:35%}
.w40 {width:40%}
.w45 {width:45%}
.w50 {width:50%}
.w60 {width:60%}
.w65 {width:65%}
.w70 {width:70%}
.w74 {width:74%}
.w75 {width:75%}
.w80 {width:80%}
.w90 {width:90%}
.w95 {width:95%}
.w99 {width:99.5%}
.w100 {width:100%}

.hf100 {height:100px}
.hf150 {height:150px}
.hf200 {height:200px}

/* align */

.a_l {text-align:left !important}
.a_c {text-align:center !important}
.a_r {text-align:right !important}

/* header */

.open #header {position:absolute}

#header .h_group {position:fixed;top:0;left:0;z-index:100;width:100%;height:90px;border-bottom:1px solid #d3d3d3;background:transparent;transition:background .3s,color .3s}
#header .h_group > div {max-width:1200px;margin:0 auto}
#header .h_group > div:after {display:block;clear:both;content:''}

#header .h_group > div h1 {position:relative;float:left;margin:22px 0 0}
#header .h_group > div h1 a {display:block;width:97px;height:40px;background:url(../img/common/logo_white.png) no-repeat}

#header .h_group > div #gnb {float:left;z-index:100;margin:0 0 0 140px}
#header .h_group > div #gnb > ul:after {display:block;clear:both;content:''}
#header .h_group > div #gnb > ul > li {float:left}
#header .h_group > div #gnb > ul > li:first-child {background:none}

#header .h_group > div #gnb > ul > li > a {display:block;position:relative;width:180px;padding:32px 0;text-align:center}

#header .h_group > div #gnb > ul > li > a:after {content:'';position:absolute;top:90px;left:50%;z-index:1000;width:0;height:1px;background:#222;-ms-transform:translate(-50%,0);-webkit-transform:translate(-50%,0);transform:translate(-50%,0);transition:.4s ease-in-out}
#header .h_group > div #gnb > ul > li.on > a:after {width:50%}

#header .h_group > div #gnb > ul > li.last > a {cursor:pointer}

#header .h_group > div #gnb > ul > li > a span {display:block;font-size:18px;color:#fff}

#header .h_group > div #gnb > ul > li > .sub_menu {display:none;position:absolute;top:90px;left:0px;width:100%;border:1px solid #ddd;border-width:1px 0;background:#fbfbfb}
#header .h_group > div #gnb > ul > li > .sub_menu > .inner {position:relative;overflow:hidden;max-width:960px;margin:0 auto;padding:30px 0}
#header .h_group > div #gnb > ul > li > .sub_menu > .inner:after {display:block;clear:both;content:''}

#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li {float:left;margin:0 0 20px 0}

#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li:first-child {margin-left:0}
#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul {width:180px;text-align:center}
#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li:first-child {margin:0 0 15px}
#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li > a {font-size:17px;font-weight:700;line-height:28px;letter-spacing:-0.2px}
#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li > ul li {padding:0 0 5px}
#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li > ul li a {display:inline-block;position:relative;font-size:15px;color:#666;line-height:25px;letter-spacing:-0.2px}

#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li > ul li a:after {content:'';position:absolute;left:0;bottom:0;width:0;height:1px;background:#222;-webkit-transition:all 250ms ease-out;-moz-transition:all 250ms ease-out;-ms-transition:all 250ms ease-out;-o-transition:all 250ms ease-out;transition: all 250ms ease-out}
#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li > ul li a:hover:after {width:100%}

.btn_offcanvas {display:none;position:absolute;top:15px;right:12px;width:30px;height:30px}
.backface {display:none;overflow:hidden;position:fixed;top:0;left:0;bottom:0;z-index:90;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}

#gnb .btn_offcanvas_close {display:none;overflow:hidden;position:absolute;top:18px;right:15px;width:23px;height:23px;background:url(../img/common/btn_close.png) no-repeat;text-indent:-999em}

/* */

#header .h_group > div #gnb > ul > li:nth-child(1) > .sub_menu > .inner {max-width:720px}
#header .h_group > div #gnb > ul > li:nth-child(2) > .sub_menu > .inner {max-width:540px}
#header .h_group > div #gnb > ul > li:nth-child(3) > .sub_menu > .inner {max-width:720px}
#header .h_group > div #gnb > ul > li:nth-child(4) > .sub_menu > .inner {max-width:180px}

/* */

#header .h_group.menu_hover {background:#fff}
#header .h_group.menu_hover > div #gnb > ul > li > a span {color:#333}
#header .h_group.menu_hover .search_area .btn_search span {border:1px solid #999dad}

#header .h_group.affix {background:#fff}
#header .h_group.affix > div #gnb > ul > li > a span {color:#333}
#header .h_group.affix .search_area .btn_search span {border:1px solid #999dad}

#header .h_group.sub {background:#fff}
#header .h_group.sub > div #gnb > ul > li > a span {color:#333}
#header .h_group.sub .search_area .btn_search span {border:1px solid #999dad}

#header .h_group.menu_hover > div h1 a, 
#header .h_group.affix > div h1 a, 
#header .h_group.sub > div h1 a {background:url(../img/common/logo.png) no-repeat}

/* search */

#header .search_area {float:right;margin:32px 0 0 0}
#header .search_area .sizing_wrap {position:relative;float:left;height:30px;line-height:30px}
#header .search_area .sizing_wrap a {display:block;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
#header .search_area .sizing_wrap input {display:none;position:absolute;right:0;top:0;width:0;padding:0 20px 0 0;border:none;border-bottom:1px solid #999dad;background-color:transparent;text-indent:0;outline:none;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
#header .search_area .sizing_wrap.show input {width:137px;height:30px}
#header .search_area .sizing_wrap input::placeholder {color:#f8f8f8}

#header .search_area .btn_search span {display:block;position:relative;z-index:1;width:30px;height:30px;background:url(../img/common/sp_common.png) no-repeat -132px -52px;font-size:12px;color:transparent;text-indent:-9999px}
#header .search_area .sizing_wrap.show .btn_search {-webkit-transform:translateX(-144px);transform:translateX(-144px);opacity:1}

#header .search_area .btn_cl {display:none;position:absolute;right:0px;top:5px;opacity:0}
#header .search_area .btn_cl span {display:block;position:relative;z-index:0;width:16px;height:16px;background:url(../img/common/sp_common.png) no-repeat -215px -52px;font-size:12px;color:transparent;text-indent:-9999px}

#header .search_area .sizing_wrap.show .btn_cl {display:block;opacity:1}
#header .search_area .sizing_wrap.show .btn_cl:hover::after {clear:both;display:none}

#header .h_group.menu_hover .search_area .sizing_wrap input,
#header .h_group.affix .search_area .sizing_wrap input,
#header .h_group.sub .search_area .sizing_wrap input {border-bottom:1px solid #51555d}

#header .h_group.menu_hover .search_area .sizing_wrap input::placeholder,
#header .h_group.affix .search_area .sizing_wrap input::placeholder,
#header .h_group.sub .search_area .sizing_wrap input::placeholder {color:#444}

#header .h_group.menu_hover .btn_search span,
#header .h_group.affix .btn_search span,
#header .h_group.sub .btn_search span {background:url(../img/common/sp_common.png) no-repeat -167px -52px}

#header .h_group.menu_hover .btn_cl span,
#header .h_group.affix .btn_cl span,
#header .h_group.sub .btn_cl span {background:url(../img/common/sp_common.png) no-repeat -236px -52px}

/* footer */

#footer {position:relative;z-index:10;width:100%;padding:30px 0;background:#fff}
.footer_wrap {position:relative;max-width:1200px;margin:0 auto}
.footer_wrap:after {display:block;clear:both;content:''}

.footer_wrap .f_logo {float:left;width:97px;height:40px;margin-top:10px;background:url(../img/common/sp_common.png) no-repeat -1080px 0;text-indent:-9999px}
.footer_wrap .f_info {float:left;margin:0 120px 0 40px}

.footer_wrap .f_info ul.add {position:relative;padding:0 0 5px 0}
.footer_wrap .f_info ul.add li {display:inline;position:relative;padding:0 6px;font-size:12px;color:#767676}
.footer_wrap .f_info ul.add li:first-child {padding:0 5px 0 0}
.footer_wrap .f_info ul.add li .bar {position:absolute;left:-2px;top:50%;height:12px;width:1px;margin-top:-6px;background-color:#9c9c9c}
.footer_wrap .f_info ul.add li a {color:#444;text-decoration:underline}

.footer_wrap .f_info p {font-size:12px;color:#666;letter-spacing:-0.2px}
.footer_wrap .f_info p.copy {margin:10px 0 0;color:#999}

.footer_wrap .mark {float:left;margin-top:25px}
.footer_wrap .mark ul {font-size:0;line-height:0}
.footer_wrap .mark ul li {display:inline-block;margin-right:12px}

.footer_wrap .mark .sns {width:30px;height:30px}
.footer_wrap .mark .sns_01 {background-position:-1200px 0}
.footer_wrap .mark .sns_02 {background-position:-1235px 0}
.footer_wrap .mark .sns_03 {background-position:-1270px 0}
.footer_wrap .mark .sns_04 {background-position:-1305px 0}
.footer_wrap .mark .sns_05 {background-position:-1340px 0}
.footer_wrap .mark .sns_06 {width:43px;height:24px;background-position:-1375px 0}

.footer_wrap .f_btn {float:right}
.footer_wrap .f_btn a {display:block;width:166px;height:80px;padding-left:20px;background:url(../img/common/img_contract.jpg) no-repeat top center;font-size:0;text-align:left}

/* scroll top */

.btn_top {display:none;position:fixed;bottom:0;right:20px;z-index:20;width:auto;opacity:0;-webkit-transition-duration:0.4s;transition-duration:0.4s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.btn_top.show {opacity:1}
.btn_top .inner {position:relative;width:auto;margin:0 auto}
.btn_top .inner a {display:block;position:absolute;bottom:174px;right:0px;width:50px;height:50px;background:#fff url(../img/common/btn_top.png) center center no-repeat;background-size:50px 50px}
.btn_top span {display:block;text-indent:-9999px}

/* media query */

@media (max-width:1200px) {

  	/* layout */

	#container {min-width:100%}

	/* footer */

	#footer {padding:0}
	.footer_wrap {width:100%}

	.footer_wrap .f_logo {display:block;float:none;height:60px;margin:70px auto 0}
	.footer_wrap .f_info {float:none;margin:0}
	.footer_wrap .f_info .add {display:none}

	.footer_wrap .f_info p {display:none}
	.footer_wrap .f_info p.copy {display:block;margin:0 0 20px;text-align:center}

	.footer_wrap .mark {display:none;float:none}

	.footer_wrap .f_btn {position:absolute;float:none;width:100%;top:-70px;left:0}
	.footer_wrap .f_btn a {width:100%;height:55px;background:#e1002a url(../img/common/btn_qna_arow_m.png) no-repeat right 20px center;font-size:18px;color:#fff;line-height:55px}
	
}

@media screen and (min-width:1025px) and (max-width:1200px) { 

	/* header */
	
	#header .h_group > div {width:auto;padding:0 10px}
	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul {width:140px}

}

@media (max-width:1024px) { 

	/* header */
	
	#offcanvas {display:block}
	.btn_offcanvas {display:block}
	.btn_offcanvas span {display:block;width:30px;height:30px;background:url(../img/common/sp_common.png) no-repeat -132px -87px;font-size:0}
	#gnb .btn_offcanvas_close {display:block}
	
	#header .h_group {height:60px !important}
	#header .h_group > div {padding:0 10px}

	#header .h_group > div h1 {margin:11px 0 0 5px}
	#header .h_group > div h1 a {width:86px;height:35px;background-size:86px 35px !important}

	#header .h_group > div #gnb {display:none;overflow:auto;position:fixed;float:none;top:0;right:-80%;width:80%;height:100%;margin:0;background:#fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
	.open #header .h_group > div #gnb {right:0}

	#header .h_group > div #gnb > ul {padding-top:59px;background:#6c6c6c}
	#header .h_group > div #gnb > ul > li {float:none;width:100%}
	#header .h_group > div #gnb > ul > li > a {display:block;width:100%;padding:14px 17px;border-bottom:1px solid #ccc;background:#e9e9e9 url(../img/common/bu_down.png) no-repeat center right 20px;background-size:13px;font-weight:700;text-align:left}
	#header .h_group > div #gnb > ul > li.current > a {background:#e9e9e9 url(../img/common/bu_up.png) no-repeat center right 20px;background-size:13px}
	#header .h_group > div #gnb > ul > li > a span {color:#333}
	
	#header .h_group > div #gnb > ul > li.last > a {background:#e9e9e9}

	#header .h_group > div #gnb > ul > li .sub_menu {display:none;position:static;top:0;left:0;border:0}

	#header .h_group > div #gnb > ul > li > .sub_menu > .inner {padding:0}

	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li.item > a {display:block;padding:7px 23px;border-bottom:1px solid #ccc;background:#f7f7f7 url(../img/common/ico_plus.png) no-repeat center right 22px;background-size:9px;font-size:15px;font-weight:500}
	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li.item.current > a {background:#f7f7f7 url(../img/common/ico_minus.png) no-repeat center right 22px;background-size:9px}

	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li.two_depth {display:none}
	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li.two_depth > ul > li > a {display:block;padding:7px 25px;border-bottom:1px dashed #ccc;background:#fff;font-size:13px;color:#333}
	
	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li.two_depth > ul > li > a:after {display:none}
	
	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li {width:100%;margin:0}
	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul {width:100%;text-align:left}
	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li:first-child {margin:0}

	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li > ul li {padding:0}

	/* */

	#header .h_group > div #gnb > ul > li:nth-child(1) > .sub_menu > .inner,
	#header .h_group > div #gnb > ul > li:nth-child(2) > .sub_menu > .inner,
	#header .h_group > div #gnb > ul > li:nth-child(3) > .sub_menu > .inner,
	#header .h_group > div #gnb > ul > li:nth-child(4) > .sub_menu > .inner {max-width:100%}

	#header .h_group.menu_hover .btn_offcanvas span,
	#header .h_group.affix .btn_offcanvas span,
	#header .h_group.sub .btn_offcanvas span {background:url(../img/common/sp_common.png) no-repeat -167px -87px;border:1px solid #999dad}

	/* search */

	#header .search_area {margin:15px 40px 0 0}

}

@media (min-width:1025px) { 

	/* header */

	#header .h_group > div #gnb {display:block !important}
	#header .h_group > div #gnb > ul > li > .sub_menu > .inner > ul > li > ul > li.two_depth {display:block !important}

}