@charset "utf-8";

/* 
SUMMARY :

01 PAGE 
02 SEARCH 
03 PRIVACY
04 404
*/

/* path */

.breadcrumb {display:block;overflow:hidden;width:100%;height:48px;margin-top:90px;border-bottom:1px solid #d7d7d7;transform:translate3d(0px, 0px, 0px)}
.breadcrumb ul {max-width:1200px;margin:0 auto;text-align:left}
.breadcrumb ul li {display:inline-block;float:left;z-index:999;padding-top:15px;font-size:13px;color:#333}
.breadcrumb ul li a {color:#333}
.breadcrumb ul li:nth-child(1) {padding-top:0}
.breadcrumb ul li:nth-child(1) a {display:inline-block;width:59px;height:48px;margin-right:20px;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;background:url(../img/common/ico_home.png) no-repeat center center;text-align:center;line-height:48px;text-indent:-9999px}
.breadcrumb ul li:nth-child(1):after {display:none}
.breadcrumb ul li:nth-child(2) {color:#666}
.breadcrumb ul li:after {content:"";display:inline-block;width:4px;height:7px;padding:0 10px;background:url(../img/common/ico_arrow.png) center no-repeat}
.breadcrumb ul li:last-child:after {display:none}

/* page head */

.intro {width:100%;height:auto;border-bottom:1px solid #e4e4e4;background-color:#f6f6f6}

.intro .inner {max-width:1200px;margin:0 auto;padding:70px 110px}
.intro .inner .tit {margin-bottom:40px;font-size:40px;color:#111;text-align:center;line-height:140%}
.intro .inner p {font-size:16px;color:#111;line-height:30px}

/* section */

.sec {width:100%;border-bottom:1px solid #e4e4e4}
.sec.grey {background-color:#f6f6f6}
.sec .sec_inner {max-width:1200px;margin:0 auto;padding:0 120px 70px;text-align:left}

.sec .h_section {position:relative;padding:70px 0 40px;font-size:36px;color:#111;text-align:center;text-transform:uppercase}
.sec .h_section:after {content:"";position:absolute;top:55px;left:50%;width:28px;height:2px;background:#e51937;transform:translateX(-50%)}

.sec .sec_inner .h2_title {position:relative;margin:70px 0 60px;font-size:36px;color:#111;text-align:center;text-transform:uppercase}
.sec .sec_inner .h2_title span {text-transform:lowercase}
.sec .sec_inner .h3_title {position:relative;padding:80px 0 25px;font-size:24px;color:#111;text-align:center;text-transform:uppercase}


/********** 사업소개 **********/

/* Secudium Platform */

.cont_secudium .sec .sec_inner {padding-top:70px}
.cont_secudium .spot {height:285px;background:url(../img/busi/secudium_bg.jpg) no-repeat center center}
.cont_secudium .spot .inner_info p {margin:20px 0;font-size:24px;line-height:140%}
.cont_secudium .col_area {margin-bottom:0}
.cont_secudium .col_area.area_02 p {text-align:justify}

/* PARTNER PRODUCTS */

.cont_partner .partner_wrap {margin:0 0 50px}

.cont_partner .in_both {margin:0 0 15px 0}
.cont_partner .in_both .thumb {display:table-cell;width:960px;height:90px;margin:0 auto;background:#f6f6f6;text-align:center;vertical-align:middle}
.cont_partner .in_both > ul {margin:18px 0;text-align:right}
.cont_partner .in_both > ul > li {display:inline;font-size:14px;border-top:0;letter-spacing:-0.3px}
.cont_partner .in_both > ul > li + li {padding:0 0 0 20px}

.cont_partner .partner_box {padding:30px 0;border-bottom:1px solid #e1e1e1}
.cont_partner .partner_box:last-child {border-bottom:0}

.cont_partner .partner_wrap .in_both + ul li {position:relative;padding-top:30px;border-top:1px solid #e1e1e1}

.cont_partner .partner_both {display:table}
.cont_partner .partner_both .cont {display:table-cell;width:74%}
.cont_partner .partner_both .cont strong {display:block;margin:0 0 15px;font-size:20px;color:#111}
.cont_partner .partner_both .cont p {display:-webkit-box;overflow:hidden;font-size:14px;color:#666;line-height:24px;text-overflow:ellipsis;white-space:normal;word-wrap:break-word;-webkit-box-orient:vertical}

.cont_partner .partner_both .down {display:table-cell;width:26%;text-align:right;vertical-align:middle}
.cont_partner .partner_both .down a {display:inline-block;width:190px;padding:14px 0;border:1px solid #e0002a;font-size:16px;color:#e0002a;text-align:center;letter-spacing:-0.4px}

.cont_partner .bl_both {display:table;width:100%;margin:20px 0 0}
.cont_partner .bl_both .bi {display:table-cell;width:75px;vertical-align:middle}
.cont_partner .bl_both .img {display:table-cell;vertical-align:middle}
.cont_partner .bl_both .bi span {display:inline-block;padding:5px 20px;background:#555;font-size:12px;color:#fff}


/********** 회사소개 **********/

/* 공통 (회사소개) */

.sec .sec_inner .h3_title {font-size:28px;font-weight:800;letter-spacing:-0.5px}
.sec .sec_inner .h4_title {padding:80px 0 25px;font-size:32px;font-weight:800;letter-spacing:-0.5px;text-transform:uppercase}

.spot {display:table;position:relative;width:100%;text-align:center}
.spot .inner_info {display:table-cell;vertical-align:middle}

.ico._mark {width:17px;height:14px;margin:0 auto}
.ico._mark_1 {margin:0 0 16px;background-position:-900px 0}
.ico._mark_2 {margin:12px 0 0;background-position:-925px 0}

.spot .inner_info strong {display:block;margin:0 20px 25px;font-size:24px;color:#fff}
.spot .inner_info p {padding:0 20px;font-size:16px;font-weight:300;color:#fff;line-height:24px;letter-spacing:-0.5px}

.skms {margin:60px 0 0}
.col_area {overflow:hidden;margin:0 0 35px}
.col_area:after {display:block;clear:both;content:''}

.col_area .fl {float:left}
.col_area .fr {float:right;text-align:justify}

.col_xs_32 {width:32%}
.col_xs_68 {width:68%}

.col_area strong {display:block;margin:0 0 15px;font-size:28px;font-weight:800;color:#111;letter-spacing:-0.5px}
.col_area p {margin:0 0 15px;font-size:16px;color:#666;line-height:28px}

.col_area.area_02 .fr {text-align:right}
.col_area.area_02 strong {margin:65px 0 10px;text-align:right}
.col_area.area_02 p {text-align:right}

.col_area.area_02 p span.d_block {display:block}

/* OVERVIEW (회사개요) */

.cont_intro .spot {height:285px;margin-bottom:75px;background:url(../img/comp/intro_bg.jpg) no-repeat center center}

.cont_intro .infosec {display:block;width:141px;height:57px;margin:0 auto;background-position:-730px 0}
.cont_intro .sec_inner.box_area_1 {padding:0 120px 0}

.cont_intro .sec.intro_bg {background-color:#f6f6f6}

.cont_intro .intro {padding:70px 0 0;color:#111;text-align:center}
.cont_intro .intro ul:after {display:block;clear:both;content:''}
.cont_intro .intro ul li {float:left;width:18%;margin:0 1% 2%}

.cont_intro .intro ul li .cont strong {display:inline-block;margin:30px 0 15px;font-size:26px}
.cont_intro .intro ul li .cont p {position:relative;padding:0 0 0 8px;font-size:14px;line-height:19px;color:#666}

.cont_intro .intro.ver2 {padding:100px 0 0;color:#111}
.cont_intro .intro.ver2 ul li {float:left;width:31.3%;margin:0 1% 2%}
.cont_intro .intro.ver2 ul li .cont p {padding:15px 8px 0 8px;text-align:justify;line-height:22px}

.ico._intro {width:159px;height:159px}
.ico._intro_1 {background-position:0 -510px}
.ico._intro_2 {background-position:-169px -510px}
.ico._intro_3 {background-position:-338px -510px}
.ico._intro_4 {background-position:-507px -510px}
.ico._intro_5 {background-position:-676px -510px}

.cont_intro .bod_cont {padding:35px 0 0}
.cont_intro .bod_cont table {table-layout:fixed;width:100%;border-top:0;border-spacing:0;border-collapse:collapse}
.cont_intro .bod_cont table th {height:50px;border-bottom:1px solid #d8d8d8;background-color:#7b7b7b;font-size:14px;color:#fff;text-align:center}
.cont_intro .bod_cont table td {height:50px;padding-left:30px;border-bottom:1px solid #d8d8d8;background:transparent;font-size:14px;color:#666}

.cont_intro .bod_cont table th:first-child {border-top:1px solid #d8d8d8}
.cont_intro .bod_cont table th:first-child + td {border-top:1px solid #d8d8d8}

/* Vision 및 Value (회사개요) */

.cont_vision .box_relative {position:relative}

.cont_vision .spot {height:285px;background:url(../img/comp/vision_bg.jpg) no-repeat center center}
.cont_vision .spot p {font-size:30px;line-height:30px;letter-spacing:0}

.cont_vision .spot .ico._mark_1 {margin:0 0 26px}
.cont_vision .spot .ico._mark_2 {margin:26px 0 0}

.cont_vision .vision_both {margin:60px 0 0}
.cont_vision .vision_both:after {display:block;clear:both;content:''}
.cont_vision .vision_both .fl {float:left;width:41%;text-align:center}
.cont_vision .vision_both .fr {float:right;width:59%}

.cont_vision .vision_both .fr strong {display:inline-block;margin:55px 0 10px;font-size:32px;font-weight:800;color:#111;letter-spacing:-0.8px;text-transform:uppercase}
.cont_vision .vision_both .fr p {font-size:20px;font-weight:400;color:#111;line-height:32px;letter-spacing:0.2px}
.cont_vision .vision_both .fr p span {color:#e0002a}

.cont_vision .up {position:absolute;bottom:-4px;left:50%;margin-left:-169.5px}

.cont_vision .mission {margin:0 auto 75px;text-align:center}
.cont_vision .mission img {max-width:100%}

.cont_vision .platform > strong {display:block;margin:0 0 35px;font-size:22px;text-align:center}
.cont_vision .platform > strong span {font-weight:300}

.cont_vision .list_mission {text-align:center}
.cont_vision .list_mission:after {display:block;clear:both;content:''}
.cont_vision .list_mission > li {float:left;width:31.3%;margin:0 1%}

.cont_vision .list_mission .thumb img {max-width:100%}
.cont_vision .list_mission li strong {display:inline-block;margin:20px 0 12px;font-size:22px;font-weight:800;color:#111;letter-spacing:-0.5px}
.cont_vision .list_mission li strong em {font-weight:800;color:#e0002a}
.cont_vision .list_mission li:nth-child(2) strong em {color:#e87405}
.cont_vision .list_mission li:nth-child(3) strong em {color:#5b626a}
.cont_vision .list_mission li p {font-size:15px;line-height:23px;letter-spacing:-0.9px}

/* 기업문화 (기업문화) */

.cont_culture .spot {height:285px;background:url(../img/comp/culture_bg.jpg) no-repeat center center}

.cont_culture .area_01 .col_xs_32 {margin:30px 0 0}

.cont_culture .system {margin:15px 0 0}
.list_unit {text-align:center}
.list_unit:after {display:block;clear:both;content:''}
.list_unit > li {float:left;width:29.3%;margin:0 2%}

.list_unit div.white_box {padding:30px 0 25px;background:#fff}

.list_unit div.white_box em.num {display:inline-block;width:41px;height:41px;margin-left:5px;background:#e8252d;font-size:16px;font-weight:700;color:#fff;line-height:41px;border-radius:200px}
.list_unit div.white_box strong {display:block;margin:15px 0 0;font-size:24px;letter-spacing:-0.5px}

.ico._culture {width:80px;height:80px;margin:15px 0}
.ico._culture_1 {background-position:0 -680px}
.ico._culture_2 {background-position:-90px -680px}
.ico._culture_3 {background-position:-180px -680px}

.list_unit div.white_box p {font-size:16px;color:#666;line-height:24px;letter-spacing:-0.5px}

.list_unit div.gray_box {height:226px;padding:30px 0;background:#747474}
.list_unit div.gray_box strong {display:block;font-size:18px;color:#fff;line-height:24px;letter-spacing:-0.5px}

.list_unit div.gray_box ul {margin:15px 0 0}
.list_unit div.gray_box ul li {position:relative;padding:0 28px 10px;font-size:14px;color:#fff;text-align:left;line-height:20px}
.list_unit div.gray_box ul li:before {content:'';display:block;position:absolute;top:10px;left:20px;width:2px;height:1px;background-color:#fff}
.list_unit div.gray_box ul li:last-child {padding:0 28px 0}

/* 윤리경영 (기업문화) */

.cont_ethica .spot {height:285px;background:url(../img/comp/ethica_bg.jpg) no-repeat center center}

.cont_ethica .ethica_wrap .spot {display:table;position:relative;width:100%;margin:0 0 40px;text-align:center}
.cont_ethica .ethica_wrap .spot .inner_info {display:table-cell;vertical-align:middle}
.cont_ethica .ethica_wrap .spot .inner_info strong {display:block;margin:0 0 15px;font-size:24px;color:#fff}
.cont_ethica .ethica_wrap .spot .inner_info p {padding:0 20px;font-size:16px;font-weight:300;color:#fff;line-height:30px}

.cont_ethica .ethica_wrap .h3_title {padding:80px 0 25px}
.cont_ethica .ethica_wrap p.txt {font-size:16px;color:#666;text-align:justify;line-height:28px;letter-spacing:-0.05px}

.cont_ethica .accept_wrap:after {display:block;clear:both;content:''}
.cont_ethica .accept_wrap .fl {float:left;line-height:26px;color:#fff}
.cont_ethica .accept_wrap .fr {float:right;margin-top:-48px;}

.cont_ethica .accept_wrap .fr .btn_text {font-size:20px}
.cont_ethica .accept_wrap .fr .btn_text button {padding:25px 35px;font-size:20px;}
.cont_ethica .accept_wrap .fr .btn_text button span {display:block;padding:10px 0 0;font-size:14px}

.ethica_box {overflow:hidden;position:relative;width:100%;height:410px;margin:50px auto 0}
.ethica_box:after {display:block;content:"";clear:both}

.ethica_box ._left,
.ethica_box ._right {display:table;width:220px;height:100%;border-radius:50%}

.ethica_box ._left {float:left}

.ethica_box ._left > div.inner,
.ethica_box ._right > div.inner {display:table-cell;vertical-align:middle}

.ethica_box ._left > div {text-align:right}
.ethica_box ._left > div strong {margin:180px 0 10px;color:#e87405}

.ethica_box ._left > div strong,
.ethica_box ._right > div strong {display:block;margin:0 0 10px;font-size:22px;color:#111}

.ethica_box ._left > div ul li,
.ethica_box ._right > div ul li {color:#111;line-height:26px;letter-spacing:-0.5px}

.ethica_box ._center {position:absolute;top:0;left:0;right:0;bottom:0;width:478px;margin:auto;text-align:center}
.ethica_box ._center span {position:absolute;top:0;left:0;right:0;bottom:0;color:#000}

.ethica_box ._right {float:right}
.ethica_box ._right span {color:#f3a7a8}

.ethica_box ._right .r_01 {margin:-20px 0 110px -140px}
.ethica_box ._right .r_01 strong {color:#d8032b;letter-spacing:-0.5px}
.ethica_box ._right .r_02 strong {color:#5b626a;letter-spacing:-0.5px}

.cont_ethica .img_txt_box_wrap {margin-top:10px}

.cont_ethica .img_txt_box_wrap img {margin-bottom:25px}
.cont_ethica .img_txt_box_wrap .title {font-size:20px;font-weight:800}

.cont_ethica .sec.ethica_bg {height:286px;background:url(../img/comp/ethica_img2.jpg) no-repeat center center}
.cont_ethica .sec.ethica_bg .sec_inner .h3_title {font-size:24px;font-weight:500;color:#fff}

/* 공정거래 (기업문화) */

.cont_fairTrade .spot {height:285px;background:url(../img/comp/fair_bg.jpg) no-repeat center center}

.cont_fairTrade .inner_info {position:relative;width:100%;padding:0;background:transparent}
.cont_fairTrade .inner_info:after {display:block;clear:both;content:''}
.cont_fairTrade .inner_info .fl {float:left;width:58.5%;margin:3% 0 0 6%}
.cont_fairTrade .inner_info .fr {float:right;width:31.5%;text-align:center}

.cont_fairTrade .inner_info .fl strong {display:inline-block;margin:0 0 20px;font-size:24px;font-weight:700;color:#fff}
.cont_fairTrade .inner_info .fl p {font-size:16px;font-weight:300;color:#fff;text-align:justify;letter-spacing:-0.2px;line-height:28px}
.cont_fairTrade .inner_info .fl em {display:block;margin:20px 0 0;font-size:14px;font-weight:300;color:#fff;text-align:justify;letter-spacing:-0.01px;line-height:24px}

.cont_fairTrade .inner_info .fr img {display:inline-block;position:absolute;right:0;bottom:0}

.cont_fairTrade .goal {margin:50px 0}
.cont_fairTrade .goal strong {display:inline-block;margin:0 0 12px;font-size:24px;color:#111}
.cont_fairTrade .goal p {font-size:16px;color:#444;line-height:28px;letter-spacing:-0.4px}

.cont_fairTrade .element {margin:50px 0 0}
.cont_fairTrade .element > strong {display:inline-block;margin:0 0 18px;font-size:24px;color:#111}

.cont_fairTrade .element ul {border-top:1px solid #888;border-bottom:1px solid #d2d2d2;border-color:#d2d2d2}
.cont_fairTrade .element ul li {display:table;position:relative;width:100%;padding:22px 0;border-color:#d2d2d2}
.cont_fairTrade .element ul li + li {border-top:1px solid #d2d2d2}

.cont_fairTrade .element ul li .tit {display:table-cell;width:12%;margin-top:-13px;background:transparent;font-size:50px;font-weight:700;color:#a7a7a7;text-align:center;vertical-align:middle}
.cont_fairTrade .element ul li .desc {display:table-cell;width:88%;vertical-align:middle}

.cont_fairTrade .element ul li .desc strong {display:block;margin:0 0 10px;font-size:18px;color:#111;letter-spacing:-0.4px}
.cont_fairTrade .element ul li .desc p {font-size:14px}

.cont_fairTrade .declaration_wrap {padding-top:80px}
.cont_fairTrade .declaration {padding:0;border:0;background:#fff;text-align:center}
.cont_fairTrade .declaration strong {display:inline-block;font-size:28px;font-weight:800;color:#111;letter-spacing:-0.5px}
.cont_fairTrade .declaration .cont p {letter-spacing:-0.3px}

.cont_fairTrade .declaration .img {margin:40px 0}
.cont_fairTrade .declaration .img img {max-width:100%}

.cont_fairTrade .declaration .cont {text-align:left}
.cont_fairTrade .declaration .cont p {margin:0 0 30px;font-size:16px;color:#666;text-align:justify;line-height:28px}

.cont_fairTrade .area_01 .col_xs_68 {margin:70px 0 0}

.cont_fairTrade .trade {padding:15px 0 0}
.cont_fairTrade .trade ul:after {display:block;clear:both;content:''}
.cont_fairTrade .trade > ul > li {position:relative;float:left;width:50%;height:200px;margin:-1px 0 0 -1px;padding:26px 30px;border:1px solid #e3e3e3;background:#fff}

.cont_fairTrade .trade > ul > li em.num {display:inline-block;width:47px;height:47px;margin-left:5px;background:#e8252d;font-size:16px;font-weight:700;color:#fff;text-align:center;line-height:47px;border-radius:200px}
.cont_fairTrade .trade > ul > li strong {display:block;margin:20px 0 10px;font-size:18px;letter-spacing:-0.5px}
.cont_fairTrade .trade > ul > li p {font-size:14px;color:#666;line-height:22px;letter-spacing:-0.5px}

.ico._fair {position:absolute;top:10px;right:10px;width:80px;height:80px}
.ico._fair_1 {background-position:0 -760px}
.ico._fair_2 {background-position:-90px -760px}
.ico._fair_3 {background-position:-180px -760px}
.ico._fair_4 {background-position:-270px -760px}
.ico._fair_5 {background-position:-360px -760px}
.ico._fair_6 {background-position:-450px -760px}
.ico._fair_7 {background-position:-540px -760px}

/* HR 제도 (채용) */

.cont_talent .system {padding:70px 0 0}

.ico._talentN {width:80px;height:80px;margin:10px 0}
.ico._talentN_1 {background-position:-270px -680px}
.ico._talentN_2 {background-position:-360px -680px}
.ico._talentN_3 {background-position:-450px -680px}

.cont_talent .list_unit div.white_box {height:334px}
.cont_talent .list_unit div.white_box p span {font-family:'돋움';font-weight:500}

.cont_talent .list_unit div.gray_box {height:190px;padding:15px 0}

.cont_talent .talent {padding:50px 0 0;color:#111;text-align:center}
.cont_talent .talent ul:after {display:block;clear:both;content:''}
.cont_talent .talent ul li {display:table;float:left;width:31.3%;margin:0 1% 2%}
.cont_talent .talent ul li .cont strong {display:inline-block;margin:30px 0 20px;font-size:26px}
.cont_talent .talent ul li .cont p {position:relative;padding:0 0 0 8px;font-size:14px;line-height:24px}

.cont_talent .top_info_txt {margin-top:0;line-height:26px}

.ico._talent {width:230px;height:230px}
.ico._talent_1 {background-position:0 -270px}
.ico._talent_2 {background-position:-240px -270px}
.ico._talent_3 {background-position:-480px -270px}

/* 육성체계 (채용) */

.cont_upbringing .spot {height:285px;background:url(../img/comp/upbringing_bg.jpg) no-repeat center center}
.cont_upbringing .spot p {font-size:20px;line-height:30px;}
.cont_upbringing .col_area span.title {font-size:22px;color:#111;text-transform:uppercase;}
.cont_upbringing .col_area.area_01 .fr {padding-top:80px;}
.cont_upbringing .col_area p {position:relative;padding-left:7px;margin-bottom:0px;}
.cont_upbringing .col_area p:before {content:'';display:block;position:absolute;top:13px;left:0;width:2px;height:2px;border-radius:100px; background-color:#666}
.cont_upbringing .col_area.area_02 p {position:relative;padding-left:7px;margin-bottom:0px;text-align:left;float:right;}
.cont_upbringing .col_area.area_02 p:before {content:'';display:block;position:absolute;top:13px;left:0;width:2px;height:2px;border-radius:100px; background-color:#666}
.cont_upbringing .skms div.col_area.area_01:nth-last-child(1) {margin-bottom:0px;}

/* 직무소개 (채용) */

.cont_jobIntro .spot {height:285px;background:url(../img/comp/jobIntro_bg.jpg) no-repeat center center}
.cont_jobIntro .spot p {font-size:20px;line-height:30px;}
.cont_jobIntro-table .jobIntro_title {font-size:28px;color:#111;margin:60px 0 20px 0;text-align:center;font-weight:bold}
.cont_jobIntro-table .tbl-list {border-bottom:1px solid #e4e4e4;color:#111}
.cont_jobIntro-table .tbl-list th {border-right:1px solid #e4e4e4;color:#111}
.cont_jobIntro-table .tbl-list th:nth-last-child(1) {border-right:0;}
.cont_jobIntro-table .tbl-list td {border-right:1px solid #e4e4e4;color:#666;line-height:1.5em;}
.cont_jobIntro-table .tbl-list td:nth-last-child(1) {border-right:0;letter-spacing:-0.6px}
.cont_jobIntro-table .tbl-list tbody td:nth-last-child(1) {text-align:left;padding:20px;}
.cont_jobIntro-table .tbl-list .th1 {width:145px;}
.cont_jobIntro-table .tbl-list .th2 {width:150px;}

/* 복리후생 (채용) */

.cont_benefits .spot {height:285px;background:url(../img/comp/benefits_bg.jpg) no-repeat center center}
.cont_benefits .top_info_txt {margin-top:0;line-height:26px}

.cont_benefits .benefits {margin:65px 0 50px}
.cont_benefits .benefits ul:after {display:block;clear:both;content:''}
.cont_benefits .benefits > ul > li {display:table;float:left;width:50%;height:216px;margin:-1px 0 0 -1px;padding:38px 0;border:1px solid #e3e3e3}

.cont_benefits .benefits ul li .img {display:table-cell;width:210px;text-align:center;vertical-align:middle}
.cont_benefits .benefits ul li .cont {display:table-cell;vertical-align:top}

.cont_benefits .benefits ul li .cont strong {display:inline-block;margin:5px 0 12px;font-size:22px;font-weight:800;letter-spacing:-0.5px}
.cont_benefits .benefits ul li .cont ul li {position:relative;padding:0 8px;font-size:14px;line-height:22px}
.cont_benefits .benefits ul li .cont ul li:before {content:'';display:block;position:absolute;top:10px;left:0;width:2px;height:1px;background-color:#999}

.ico._benefits {width:130px;height:130px}
.ico._benefits_1 {background-position:0 -130px}
.ico._benefits_2 {background-position:-140px -130px}
.ico._benefits_3 {background-position:-280px -130px}
.ico._benefits_4 {background-position:-420px -130px}
.ico._benefits_5 {background-position:-560px -130px}
.ico._benefits_6 {background-position:-700px -130px}
.ico._benefits_7 {background-position:-840px -130px}
.ico._benefits_8 {background-position:-980px -130px}
.ico._benefits_9 {background-position:-1120px -130px}
.ico._benefits_10 {background-position:-1260px -130px}
.ico._benefits_11 {background-position:-1400px -130px}

/* 채용공고 (채용) */

.cont_careers .spot {height:285px;background:url(../img/comp/careers_bg.jpg) no-repeat center center}
.cont_careers .spot p {font-size:20px;line-height:30px}

.cont_careers .system {padding:70px 0 0}

.ico._careers {width:80px;height:80px;margin:10px 0}
.ico._careers_1 {background-position:-540px -680px}
.ico._careers_2 {background-position:-630px -680px}
.ico._careers_3 {background-position:-720px -680px}

.cont_careers .list_unit div.white_box {height:334px}

.process {position:relative}
.process:before {content:'';display:block;position:absolute;top:68px;left:9%;z-index:1;width:82%;height:1px;background-color:#e2e2e2}
.process ul:after {display:block;clear:both;content:''}
.process ul > li {position:relative;z-indeX:2;float:left;width:14.28%;text-align:center}

.process ul > li span {position:relative;top:-25px;display:inline-block;padding:8px 16px;background-color:#757575;font-size:12px;color:#fff;border-radius:20px}
.process ul > li p {position:relative;top:-10px;font-size:18px;font-weight:700;color:#111;letter-spacing:-0.5px}

.process ul > li:last-child span {background-color:#e0002a}
.process ul > li:last-child p {color:#e0002a}

.ico._recruit {width:120px;height:120px;margin:10px 0}
.ico._recruit_1 {background-position:0px -840px}
.ico._recruit_2 {background-position:-130px -840px}
.ico._recruit_3 {background-position:-260px -840px}
.ico._recruit_4 {background-position:-390px -840px}
.ico._recruit_5 {background-position:-520px -840px}
.ico._recruit_6 {background-position:-650px -840px}
.ico._recruit_7 {background-position:-780px -840px}
.ico._recruit_8 {background-position:-910px -840px}
.ico._recruit_9 {background-position:-1040px -840px}
.ico._recruit_10 {background-position:-1170px -840px}

.btn_cen {margin:90px 0 40px;text-align:center}
.btn_cen a {padding:24px 29px;background:#e51937;font-size:20px;color:#fff;border-radius:5px}
.btn_cen i {width:66px;height:28px;margin:0 15px 0 0;background-position:-950px 0px}

/* media query */

@media (max-width: 1200px) {

	/* page head */

	.intro {padding:30px}

	.intro .inner {padding:70px 0 50px}
	.intro .inner .tit {font-size:30px;margin-bottom:30px}

    .sec .sec_inner .h2_title {margin:40px 0 30px}
	.sec .sec_inner .h3_title {padding:25px 0 25px}

    
	/********** 사업소개 **********/

    /* Secudium Platform */

    .cont_secudium .col_area.area_02 p {margin-top:50px}

	/* PARTNER PRODUCTS */

	.cont_partner .in_both .thumb {display:table-cell;width:1200px}


	/********** 회사소개 **********/

    /* 육성체계 (채용) */

    .cont_upbringing .col_area.area_01 .fr {padding-top:65px}
    .cont_upbringing .col_area.area_02 p {float:left;padding-left:7px;text-align:left}

}

@media (max-width: 1024px) {

	/* path */

	.breadcrumb {display:none}

	/* section */

	.sec .sec_inner {padding:50px 20px}
	.sec .sec_inner .h_section {padding:90px 0 30px;font-size:29px}


	/********** 사업소개 **********/

	/* PARTNER PRODUCTS */

	.cont_partner .in_both > ul {margin:14px 0}
	.cont_partner .in_both > ul > li {display:block;padding:6px 0;font-size:13px}

	.cont_partner .partner_both {display:block}
	.cont_partner .partner_both .cont {display:block;width:100%}
	.cont_partner .partner_both .down {display:block;width:100%;margin:20px 0 0;text-align:center}


	/********** 회사소개 **********/

	/* 공통 (회사소개) */

	.sec .sec_inner .h4_title {padding:25px 0 25px}
	.top_info_txt br {display:none}
	.spot .inner_info p br {display:none}

	/* 공통 (회사개요) */

	.col_area .fl,
	.col_area .fr {float:none;text-align:center !important}

	.col_xs_32,
	.col_xs_68 {width:100%;margin:0 !important}

	.col_area strong {margin:40px 0 10px;text-align:left !important}
	.col_area p {text-align:left !important}

	/* OVERVIEW (회사개요) */

	.cont_intro .sec.intro_bg {height:auto;background-size:cover}

	.cont_intro .intro {padding:40px 0 0}
	.cont_intro .intro ul li {float:none !important;width:100% !important;margin:0 0 20px}
	.cont_intro .intro ul li .cont p {margin:0 0 30px}

	.cont_intro .intro.ver2 {padding:40px 0 0}

	/* Vision 및 Value (회사개요) */

	.cont_vision .vision_both {margin:60px 0 0}
	.cont_vision .vision_both .fl {float:none;width:100%;text-align:center}
	.cont_vision .vision_both .fr {float:none;width:100%;margin:0 0 140px}

	.cont_vision .list_mission > li {float:none;width:100%;margin:0 0 20px}

	/* 기업문화 (기업문화) */

	.list_unit > li {float:none !important;width:100% !important;margin:0 0 20px}
	.list_unit div.gray_box {height:auto}

	/* 윤리경영 (기업문화) */

	.cont_ethica .ethica_wrap .spot .inner_info p br {display:none}
	.cont_ethica .accept_wrap .fl br {display:none}
	.cont_ethica .accept_wrap .fr .btn_text {margin-top:30px}
    .cont_ethica .accept_wrap .fr {clear:left;width:100%;display:block; margin-top:20px;}

	.ethica_box {height:inherit;text-align:center}
	.ethica_box ._left,
	.ethica_box ._right {float:none;width:240px;margin:0 auto}
	.ethica_box ._left > div {text-align:center}

	.ethica_box ._left {margin:0 auto 40px}
	.ethica_box ._left > div strong {margin:40px 0 10px}

	.ethica_box ._center {position:static;width:100%;margin:0}
	.ethica_box ._center span {position:static;padding:120px 0 0}
	.ethica_box ._center span img {max-width:90%}

	.ethica_box ._right .r_01 {margin:0 0 40px 0}

	.cont_ethica .sec.ethica_bg {height:auto;background-size:cover}

	/* 공정거래 (기업문화) */

	.cont_fairTrade .declaration_wrap {padding-top:25px}
	.cont_fairTrade .inner_info {padding:40px 0 0}

	.cont_fairTrade .inner_info .fl {float:none;width:100%;margin:0; padding:0 20px}
	.cont_fairTrade .inner_info .fr {float:none;width:100%;margin:0}

	.cont_fairTrade .inner_info .fl strong {margin-bottom:20px;font-size:22px}
	.cont_fairTrade .inner_info .fl p {font-size:14px;line-height:25px}

	.cont_fairTrade .inner_info .fr {margin:30px 0 0;text-align:right}
	.cont_fairTrade .inner_info .fr img {position:relative;width:200px}

	.cont_fairTrade .element ul li .tit {width:25%}
	.cont_fairTrade .element ul li .desc {width:75%}

	.cont_fairTrade .trade > ul > li {float:none !important;width:100% !important;height:auto;margin:0 0 20px}
	.cont_fairTrade .trade > ul > li p br {display:none}

	/* HR 제도 (채용) */

	.cont_talent .sec.talent_bg {height:auto;background-size:cover}
	.cont_talent .sec .sec_inner {padding:0 20px 35px}

	.cont_talent .talent {padding:40px 0 0}
	.cont_talent .talent ul li {float:none;width:100%;margin:0 0 2%}
	.cont_talent .talent ul li .cont p {margin:0 0 30px}

    /* 육성채계 (채용) */

    .cont_upbringing .col_area.area_01 .fr {padding-top:0px;}

    /* 직무소개 (채용) */

    .cont_jobIntro-table .tbl-list .th1 {width:125px;}
    .cont_jobIntro-table .tbl-list .th2 {width:130px;}

	/* 복리후생 (채용) */

	.cont_benefits .benefits > ul > li {float:none !important;width:100% !important;height:auto;margin:0 0 20px}

	/* 채용공고 (채용) */

	.cont_careers .h3_title + .process + .h3_title {padding:50px 0 25px}

	.process:before {display:none}
	.process ul > li {float:left;width:50%}

	.process ul > li span {display:block;width:80px;margin:0 auto;padding:8px 16px}

	.btn_cen {margin:70px 0 40px}

}

@media (max-width: 640px) {

	/* page head */

    .inner .tit {font-size:24px}
    .inner .tit span {display:block}

	.sec .sec_inner {padding:0 20px 50px}
    .sec .sec_inner .h1_title {padding:120px 0 50px}
	.sec .sec_inner .h1_title:after {top:105px}

	.sec .sec_inner .h2_title {margin:90px 0 30px}


	/********** 회사소개 **********/

    /* 직무소개 (채용) */

    .cont_jobIntro-table .tbl-list .th1 {width:80px}
    .cont_jobIntro-table .tbl-list .th2 {width:90px}

	/* 복리후생 (채용) */

	.cont_benefits .benefits ul li .img {display:block;width:100%;text-align:center}
	.cont_benefits .benefits ul li .cont {display:block;width:100%;margin:30px 0 0;text-align:center}
	.cont_benefits .benefits ul li .cont ul li:before {display:none}

}